@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-hero {
  background-image: url('/bg.png') !important;
}
.bg-hero2 {
  background-image: url('/showcase-bg.jpg') !important;
}
/* Swiper custom styles */
.now-playing-swiper .swiper-button-next,
.now-playing-swiper .swiper-button-prev {
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
  border-radius: 50%;
}

.now-playing-swiper .swiper-button-next:after,
.now-playing-swiper .swiper-button-prev:after {
  font-size: 18px;
}

.now-playing-swiper .swiper-pagination {
  padding-top: 30px;
  position: relative;
}

.now-playing-swiper .swiper-pagination-bullet {
  background: #fff;
}

.now-playing-swiper .swiper-pagination-bullet-active {
  background: #d80000;
}
